.disabled {
  pointer-events: none;

  &.windowContainer {
    z-index: 110;
  }
}

.windowContainer {
  background: white;
  position: fixed;
  z-index: 100;
  border: 1px solid var(--border-light);
  border-radius: 4px;

  &.active {
    z-index: 101;
  }

  &.moving {
    transition: none;
    cursor: grabbing;

    .title {
      cursor: grabbing;
    }
  }

  .overflowHidden {
    overflow: hidden;
  }

  .window {
    height: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;

    > div {
      margin-top: 0 !important;
    }
  }

  .title {
    white-space: nowrap;
    width: 100%;
    padding: 4px 4px 0 4px;
    cursor: move;

    border-bottom: 1px solid var(--border-light);

    .titleTabBar {
      padding-right: 24px;

      &.singleTab {
        padding: 1px 4px 0 0;

        .titleTab {
          &:hover {
            background: #efefef;
          }

          &.titleTabHidden:hover {
            background: white;
          }

          max-width: fit-content;
          cursor: move;
          border: 0;
          margin-bottom: 0;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      .titleTab {
        margin-bottom: -1px;
        padding-left: 4px;
        background: #efefef;
        border: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-width: 150px;

        &.titleTabActive {
          border-bottom-color: transparent;
          background: #fff;
        }

        &.titleTabHidden {
          display: none;

          .titleText {
            visibility: hidden;
          }
        }
      }

    }

    .titleText {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
    }
  }

  .overflowXAuto {
    overflow-x: auto;
  }

  .content {
    padding: 8px 4px 4px;
    overflow: auto;

    &.fillHeight {
      flex: 1;
    }
  }

  &.minimized {
    bottom: initial !important;
    right: initial !important;

    .title {
      border-bottom: none;
    }

    .content {
      display: none;
    }

    .resize {
      pointer-events: none;
      cursor: pointer;
    }
  }

  &.maximized {
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;

    .resize {
      pointer-events: none;
      cursor: pointer;
    }
  }

  &.popup {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    border: none;

    .title {
      cursor: default;
    }

    .titleButtons {
      display: none;
    }

    .resize {
      pointer-events: none;
      cursor: pointer;
    }
  }

  .stretchItems {
    align-items: stretch;
  }

  .fullWidth {
    width: 100%;
  }

  .fullHeight {
    height: 100%;
  }

  .resize {
    $resizeWidth: 4px;
    user-select: none;
    display: inline-block;

    &.edge {
      width: $resizeWidth;
      height: $resizeWidth;

      &.nw {
        cursor: nw-resize;
      }

      &.ne {
        cursor: ne-resize;
      }

      &.sw {
        cursor: sw-resize;
      }

      &.se {
        cursor: se-resize;
      }
    }

    &.y {
      flex: 1;
      cursor: ns-resize;
      height: $resizeWidth;
    }

    &.x {
      cursor: ew-resize;
      width: $resizeWidth;
    }
  }
}
