
.windowContainer {
  background: white;
  position: fixed;
  z-index: 100;
  border: 1px solid var(--border-light);
  border-radius: 4px;

  &.active {
    z-index: 101;
  }

  &.moving {
    transition: none;
    cursor: grabbing;

    .title {
      cursor: grabbing;
    }
  }

  .overflowHidden {
    overflow: hidden;
  }

  .window {
    height: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;

    > div {
      margin-top: 0 !important;
    }
  }

  .title {
    padding: 8px;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid var(--border-light);

    cursor: grab;

    .titleText {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .overflowXAuto {
    overflow-x: auto;
  }

  .content {
    padding: 8px;
    overflow: auto;

    &.fillHeight {
      flex: 1;
    }
  }

  &.minimized {
    bottom: initial !important;
    right: initial !important;

    .title {
      border-bottom: none;
    }

    .content {
      display: none;
    }

    .resize {
      pointer-events: none;
      cursor: pointer;
    }
  }

  &.maximized {
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;

    .resize {
      pointer-events: none;
      cursor: pointer;
    }
  }

  &.popup {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    border: none;

    .title {
      cursor: default;
    }

    .titleButtons {
      display: none;
    }

    .resize {
      pointer-events: none;
      cursor: pointer;
    }
  }

  .stretchItems {
    align-items: stretch;
  }

  .fullWidth {
    width: 100%;
  }

  .fullHeight {
    height: 100%;
  }

  .resize {
    $resizeWidth: 4px;
    user-select: none;
    display: inline-block;

    &.edge {
      width: $resizeWidth;
      height: $resizeWidth;

      &.nw {
        cursor: nw-resize;
      }

      &.ne {
        cursor: ne-resize;
      }

      &.sw {
        cursor: sw-resize;
      }

      &.se {
        cursor: se-resize;
      }
    }

    &.y {
      flex: 1;
      cursor: ns-resize;
      height: $resizeWidth;
    }

    &.x {
      cursor: ew-resize;
      width: $resizeWidth;
    }
  }
}
